html,body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

.wrap{
	/*position: relative;*/
}

aside{
	float: left;
	width: 250px;
	height: 100%;
	color: white;
	background-color: black;
	z-index: 0;
	overflow: scroll;
}
section.wrap{
	height: 100%;
	/*position: relative;*/
}
header{
	height: 40px;
	background-color: black;
}

ul{
	font-family: "Microsoft YaHei";
	list-style: none;
	padding: 5px;
	margin: 0;
}

ul li{
	padding: 0;
	margin: 0px 10px 10px 15px;
	cursor: pointer;
}
aside select{
	padding: 5px;
	margin: 15px;
	width: 150px;
	background-color: #33c;
	color: white;
}
/*ul{
	overflow: scroll;
}*/
#map{
	position: absolute;
	top: 40px;
	bottom: 0px;
	left: 250px;
	right: 0;
}