html,body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

.wrap{
	/*position: relative;*/
}

aside{
	float: left;
	width: 250px;
	height: 100%;
	color: white;
	background-color: black;
	z-index: 0;
	overflow: scroll;
	transition: margin 0.2s;
}
section.wrap{
	height: 100%;
	/*position: relative;*/
}
header{
	height: 40px;
	background-color: black;
}


header .icon{
	margin-left: 15px;
	color: #3af;
	display: block;
	width: 30px;
	float: left;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	line-height: 30px;
}
header .icon:after{
	content: '=';
	width: 30px;
	color: #3af;
	position: relative;
	font-weight: bold;
	top: 10px;
	right: 17px;
}

ul{
	font-family: "Microsoft YaHei";
	list-style: none;
	padding: 5px;
	margin: 0;
}

header li{
	margin-top: 5px;
	margin-right: 15px;
	float: right;
	color: white;
	display: inline-block;
	font-size: 13px;
}


aside ul li{
	padding: 15px 0px 15px 20px;
	cursor: pointer;
	border-top: solid 1px #333;
}
aside ul li:hover{
	color: black;
	background-color: #3af;
	font-weight: bold;
}
aside select{
	font-family: "Microsoft YaHei";
	font-size: 20px;
	padding: 5px 0px 5px 30px;
	margin: 5px 0;
	width: 165px;
	color: #3af;
	background-color: white;
	font-weight: bold;
}
aside select option{
	font-weight: bold;
}
aside span.filter{
	background-color: #3af;
	color: black;
	width: 32px;
	font-size: 20px;
	padding: 9px 7px 8px 7px;
	font-family: sans-serif;
	font-weight: bold;
}
/*ul{
	overflow: scroll;
}*/
#map{
	position: absolute;
	top: 40px;
	bottom: 0px;
	left: 250px;
	right: 0;
	transition: left 0.2s;
}

aside.toggle{
	margin-left: -250px;
}

#map.toggle{
	left: 0px;
}